@import '../../assets/scss/main.scss';
@import '../../assets/scss/spinner.scss';

.container {
	width: 100%;
	margin: 0 auto 24px;
	font-family: 'Roboto';
	font-weight: 400;

	.products-list {
		background-color: $white-one;
		border-radius: 4px 4px 0 0;
	}
}

@media screen and (min-width: $breakpoint-tablet) {
	.container {
		max-width: 640px;
	}
}

@media screen and (min-width: $breakpoint-desktop) {
	.container {
		max-width: 1200px;
	}
}
