@import '../../assets/scss/main.scss';

.breadcrumb {
	display: flex;
	padding: 16px 0;

	&__text {
		font-size: 1.4rem;
		color: $black;

		span {
			display: inline-block;
			width: 24px;
			text-align: center;
		}
	}
}
